.mainBar{
    background-color: red;
    height: 6px;
    border-radius: 6px;
    flex-grow: 1;
    margin-left: .5rem;

}
.littlebar{
    background-color: aqua;
    height: inherit;
    border-radius: 2px;
    border-right: solid #333;
}

.orangeJucie {
    margin: 6px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;


}